
p {
    margin-top: 22px;
    margin-bottom: 4px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 64px;
    margin-bottom: 16px;
}

h1 {
    font-size: 1.7em;
}

hr {
    margin-top: 30px;
    margin-bottom: 50px;
}

.cjk_fallback {
    font-size: 14px;
}

body {
    background-color: rgb(36, 41, 46);
    color: rgb(225, 228, 232);
    font-family: "Cascadia Code";
    font-size: 15;
}


pre code {
    background-color: rgb(47, 54, 61);
}

ul {
    padding-inline-start: 20px;
}